{% extends 'base.html' %}

{% load static %}

{% block css%}
<link href="{% static 'app_l3/ticket_creation.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %}TicketCreation{% endblock %}

{% block content %}
<div class="signup-container">
    <div class="left-container">
        <h1>
          <i class="fas fa-paw"></i>
          TICKET CREATION
        </h1>
        <div class="puppy">
          <img src="../../../static/app_l3/imgs/ticketCreation.png" />
        </div>
    </div>

  <form action={} method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="right-container">
        <header>
          <h1>Spécifiez les information de ticket</h1>
          <div class="set">
            <div class="prob-name">
              <label for="prob-name">Nom de Ticket :</label>
                {{ add_ticket_form.title }}
            </div>
          </div>

          <div class="set">
            <div class="systemtype">
              <label for="systemtype">Actif Informatique Ciblé :</label>
                {{ add_ticket_form.category }}
            </div>
            {% if is_staff %}
            <div class="technic">
              <label for="technic">Technicien :</label>
                {{ add_ticket_form.assigned_to }}
            </div>
            <div class="status">
              <label for="status">Status :</label>
                {{ add_ticket_form.status }}
            </div>
            {% else %}
            <div class="status">
              <label for="status">Status :</label>
                pending 
            </div>
            {% endif %} 

          </div>

          <div class="set">
            <div class="probprior">
              <label for="probprior">Priority :</label>
                {{ add_ticket_form.priority }}
            </div>
            <div class="attachment">
              <label for="attachment">attachment :</label>
                {{add_ticket_form.attachment}} 
            </div>
          </div>

          <div class="description">
            <label for="description">description :</label>
              {{ add_ticket_form.description }}
          </div>
          
        </header>
        <footer>
          <div class="set">
            <a href="{% url 'home' type_user=type_user %}" ><button type="button">Return</button></a>
            <button type="submit" >Register</button>
          </div>
        </footer>
    </div>
  </form>

</div>

{% endblock %}