{% extends 'base.html' %}

{% load static %}

{% block css%}
<link href="{% static 'app_l3/style/tickets/ticket_creation.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %}UpdateTicket{% endblock %}

{% block content %}
<div class="signup-container">
    <div class="left-container">
        <h1>
          <i class="fas fa-paw"></i>
          UPDATE TICKET
        </h1>
        <div class="puppy">
          <img src="../../../static/app_l3/imgs/ticketCreation.png" />
        </div>
    </div>
    <form action="{% url 'update_ticket_form' ticket_id=ticket_id %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="right-container">
          <header>
            <h1>Spécifiez les information de ticket</h1>
            <div class="set">
              <div class="prob-name">
                <label for="prob-name">Nom de Ticket :</label>
                  {{ update_ticket_form.title }}
              </div>
            </div>
  
            <div class="set">
              <div class="systemtype">
                <label for="systemtype">Actif Informatique Ciblé :</label>
                  {{ update_ticket_form.category }}
              </div>
              {% if is_staff %}
              <div class="technic">
                <label for="technic">Technicien :</label>
                  {{ update_ticket_form.assigned_to }}
              </div>
              <div class="status">
                <label for="status">Status :</label>
                  {{ update_ticket_form.status }}
              </div>
              {% else %}
              <div class="status">
                <label for="status">Status :</label>
                  {{ update_ticket_form.status }}
              </div>
              {% endif %} 
  
            </div>
  
            <div class="set">
              <div class="probprior">
                <label for="probprior">Priority :</label>
                  {{ update_ticket_form.priority }}
              </div>
              <div class="attachment">
                <label for="attachment">attachment :</label>
                  {{update_ticket_form.attachment}} 
              </div>
            </div>
  
            <div class="description">
              <label for="description">description :</label>
                {{ update_ticket_form.description }}
            </div>
            
          </header>
          <footer>
            <div class="set">
              <a href="{% url 'console_ticket' ticket_id=ticket_id %}" ><button type="button">Return</button></a>
              <button type="submit" id="next">Register</button>
            </div>
          </footer>
      </div>
    </form>

</div>

{% endblock %}