{% extends 'base.html' %}

{% load static %}

{% block css%}
<link href="{% static 'app_l3/style/tickets/ticket_creation.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %}UpdateTicket{% endblock %}

{% block content %}
<div class="signup-container">
    <div class="left-container">
        <h1>
          <i class="fas fa-paw"></i>
          TICKET UPDATE
        </h1>
        <div class="puppy">
          <img src="../../../static/app_l3/imgs/ticketCreation.png" />
        </div>
    </div>
    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="right-container">
          <header>
            <h1>Provide the informations below</h1>
            <div class="set">
              <div class="prob-name">
                <label for="prob-name">Ticket Name :</label>
                  {{ update_ticket_form.title }}
              </div>
            </div>
  
            <div class="set">
              <div class="systemtype">
                <label for="systemtype">Targeted IT Asset:</label>
                  {{ update_ticket_form.category }}
              </div>
              {%  if type_user == 'self_service' %}
              <div class="technic">
                <label for="technic">Technician :</label>
                  {{ update_ticket_form.assigned_to }}
              </div>
              {% endif %} 
              
              {% if is_staff %}
              <div class="technic">
                <label for="technic">Technician :</label>
                  {{ update_ticket_form.assigned_to }}
              </div>
              <div class="status">
                <label for="status">Status :</label>
                  {{ update_ticket_form.status }}
              </div>
              {% endif %} 
  
            </div>
  
            <div class="set">
              <div class="probprior">
                <label for="probprior">Priority :</label>
                  {{ update_ticket_form.priority }}
              </div>
              <div class="attachment">
                <label for="attachment">Attachment :</label>
                  {{update_ticket_form.attachment}} 
              </div>
            </div>
  
            <div class="description">
              <label for="description">Description :</label>
                {{ update_ticket_form.description }}
            </div>
            
          </header>
          <footer>
            <div class="set">
              <a href="{% url 'home' type_user=type_user %}">Return</a>
              <button type="submit" id="next">Register</button>
            </div>
          </footer>
      </div>
    </form>

</div>

{% endblock %}