{% extends 'base.html' %}

{% load static %}

{% block css%}
<link href="{% static 'app_l3/display_style.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %}TicketDisplay{% endblock %}

{% block content %}
<body>
    <div class="mainscreen">
        <div class="card">
            <div class="leftside">
                <img
                src="https://static.vecteezy.com/system/resources/previews/025/009/619/large_2x/3d-render-abstract-simple-neon-background-ultra-violet-rays-blue-and-pink-glowing-lines-cyber-network-data-speed-of-light-space-and-time-strings-ai-generative-free-photo.jpg"
                class="profilepic"
                alt="pfp"
                />
            </div>
            <div class="rightside">
                <h1>Ticket Details</h1>
                <div class="container">
                    <div class="box">
                        <h2>(+)ID : {{ ticket_display.id }}</h2>

                        <h2>(+)Ticket Title : <p>{{ ticket_display.title }}</p></h2>

                        <h2>(+)Category / Status / Priority</h2>
                        <p>{{ ticket_display.category }} / {{ ticket_display.status }} / {{ ticket_display.priority }}</p>
                    </div>  
                    <div class="box">
                        <h2>(+)Assigned to : <p>{{ ticket_display.assigned_to }}</p></h2>

                        <h2>(+)Assigned by : <p>{{ ticket_display.assigned_by }}</p></h2>
                    </div>
                    <div class="box">
                        <h2>(+)Creation Date : <p>{{ ticket_display.ticket_creation_date }}</p> </h2>

                        <h2>Attachment</h2>
                        {% if ticket_display.attachment %}
                        <a href="{% url 'download_attachment' ticket_title=ticket_display.title %}" id="download-link" target="_blank">Download Attachment</a>
                        {% else %}
                        No attachment available
                        {% endif %}
                    </div>
                </div>
                <h2 style="padding-top: 30px;">Description</h2>
                <div class="scroll-container">
                    <p>{{ ticket_display.description }}</p>
                </div>

                <h1>Ticket Solutions</h1>
                {% if ticket_solution %}

                    {% for solution in ticket_solution %}
                    <div class="container">

                    <div class="box">
                        <h2>Solution By :</h2>
                        <p>{{solution.solution_by.tech_as_user.first_name}} {{solution.solution_by.tech_as_user.last_name}}</p>

                        <h2>Solution State :</h2>
                        {% if solution.confirmed_solution %}
                            <p>Confirmed Solution</p>
                        {% else %}
                            <p>Not Confirmed Solution</p>
                        {% endif %}
                        {%if not solution.confirmed_solution %}
                        <div class="set">
                            <form action="{% url 'confirm_ticket' ticket_title=ticket_display.title solution_id=solution.id %}" method="post">
                                {% csrf_token %}
                                <a style="font-size: 13px;" ><button type="submit" name="confirm" >Confirm</button></a>
                            </form>
                        </div>
                        {%else%}
                            <div class="set">
                                <form action="{% url 'download_solution' ticket_title=ticket_display.title  solution_id=solution.id %}" method="post">
                                    {% csrf_token %}
                                    <a style="font-size: 13px;" ><button type="submit" name="confirm" >Download Solution</button></a>
                                </form>
                            </div>
                        {% endif %}

                    </div>

                    <div class="box">
                        <h2>Solution Description</h2>
                        <div class="scroll-container">
                            <p>{{solution.solution_description}}</p>
                        </div>
                    </div>

                    </div>
                    {% endfor %}  
                    
                {%else%}
                    <h2>Solution</h2>
                    <p>No Solutions For Now</p>
                {%endif%}

                <form id='solutionForm' action="pyurl 'add_solution_form' ticket_title=ticket_display.title %}" method="post">
                    <h2>Add Solution : </h2>
                    {% csrf_token %}
                    <div class="description">
                        <label for="description">description</label>
                            {{ solution_ticket_form.solution_description }}
                    </div>
                    <div class="set">
                        <a><button type="button" id="cancelSolutionBtn" >Cancel</button></a>
                        <a style="font-size: 13px;" ><button type="submit" >Add Solution</button></a>
                    </div>
                </form>
                </br></br></br>
                <div class="set">
                    <a href="{% url 'home' type_user=type_user %}" ><button type="button">Return</button></a>
                    <a style="font-size: 13px;" ><button type="submit" id="showSolutionBtn">Solution Form</button></a>
                    <a href="{% url 'update_ticket_form' ticket_id=ticket_display.id %}" style="font-size: 13px;" ><button type="submit" id="showSolutionBtn">Update/Assign Ticket</button></a>
                    <a "{% url 'delete_ticket' ticket_title=ticket_display.title %}" style="font-size: 13px" ><button type="submit" id='delete_btn' onclick="return confirm('Are you sure you want to delete this ticket?')" >Delete Ticket</button></a>
                </div>

            </div>
            </div>
        </div>
    </div>
</body>

{% endblock %}

{% block script %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Get the download link
        var downloadLink = document.getElementById('download-link');
        // Add a click event listener to the download link
        downloadLink.addEventListener('click', function(event) {
            // Prevent the default link behavior (preventing navigation)
            event.preventDefault();
            // Open the download link in a new tab
            window.open(downloadLink.href, '_blank');
        });
    });

    document.addEventListener('DOMContentLoaded', function() {
        var showSolutionBtn = document.getElementById('showSolutionBtn');
        var solutionForm = document.getElementById('solutionForm');
        var cancelSolutionBtn = document.getElementById('cancelSolutionBtn');
        showSolutionBtn.addEventListener('click', function() {
            if (solutionForm.style.display === 'none' || solutionForm.style.display === '') {
                solutionForm.style.display = 'block'; // Show the solution form
            } else {
                solutionForm.style.display = 'none'; // Hide the solution form
            }
        });
        cancelSolutionBtn.addEventListener('click', function() {
            if (solutionForm.style.display === 'block') {
                solutionForm.style.display = 'none'; // Show the solution form
            } else {
                solutionForm.style.display = 'block'; // Hide the solution form
            }
        });
    });

</script>

{% endblock %}