{% extends 'base.html' %}

{% load static %}

{% block css%}
<link href="{% static 'app_l3/ticket_creation.css' %}" rel="stylesheet" type="text/css">

{% endblock %}
{% block title %}TicketDisp{% endblock %}

{% block content %}

<div class="content">
    <div class="card-body">
        {% csrf_token %}
        <h2>Ticket Details</h2>

        <label >ticket title :</label><span>{{ ticket_display.title }}</span>  
        <br/>
        <label >ticket Description :</label>
        <p class="card-text">{{ ticket_display.description }}</p>
        <label class="card-title">ticket Category :</label>{{ ticket_display.category }}
        <br/> 
        <label class="card-title">ticket Date :</label><span>{{ ticket_display.ticket_creation_date }}</span> 
        <br/>
        <label class="card-title">ticket assigned by :</label><span>{{ ticket_display.assigned_by }}</span> 
        <br/>
        <label class="card-title">ticket assigned to :</label><span>{{ ticket_display.assigned_to }}</span> 
        <br/>
        <label class="card-title">ticket attachment :</label>
        {% if ticket_display.attachment %}
            <a href="{% url 'download_attachment' ticket_title=ticket_display.title %}" id="download-link" target="_blank">Download Attachment</a>
        {% else %}
            No attachment available
        {% endif %}
        <br/>
        <a href="{% url 'home' type_user=type_user %}" ><label id="back" name="return" >Cancel</label></a>
        <h2>Ticket Solutions</h2>
        {% if ticket_solution is not None %}
            {% for solution in ticket_solution %}
                <span >Solution Description :</span><p>{{solution.solution_description}}</p>
                <span >Solution By :</span>{{solution.solution_by.tech_as_user.first_name}} {{solution.solution_by.tech_as_user.last_name}}
                <br/><br/>
                <span >Solution State :</span>{% if solution.confirmed_solution %}<p>Confirmed Solution</p>{% else %}<p>Not Confirmed Solution</p>{% endif %}
                
                {%if not solution.confirmed_solution %}
                <form action="{% url 'confirm_ticket' ticket_title=ticket_display.title solution_id=solution.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" name="confirm" id="regDirect" >Confirm</button>
                </form>
                {%else%}
                <form action="{% url 'download_solution' ticket_title=ticket_display.title  solution_id=solution.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" name="confirm" id="regDirect" >Download Solution</button>
                </form>
                {% endif %}
            {% endfor %}
        {%else%}
            <div class="card-header">
                <label >No Solutions For Now</label>
            </div>
        {%endif%}

    </div>
</div>
{% endblock %}

{% block script %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Get the download link
        var downloadLink = document.getElementById('download-link');
    
        // Add a click event listener to the download link
        downloadLink.addEventListener('click', function(event) {
            // Prevent the default link behavior (preventing navigation)
            event.preventDefault();
    
            // Open the download link in a new tab
            window.open(downloadLink.href, '_blank');
        });
    });
</script>

{% endblock %}