{% extends 'base.html' %}

{% load static %}

{% block css%}
<link href="{% static 'app_l3/style/tickets/cat_prio_state.css' %}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block title %}Status{% endblock %}


{% block content %}
<div class="content">
    <form action="{% url 'add_status_form' %}" class="Form" id="form" method="post">
        {% csrf_token %}
        <h2>Register Status</h2>
        <h3>Enter Details</h3>
        {{ add_status_form.as_p }}
        <button type="submit" name="register_button" id="regDirect" >Register</button>
        <button id="returnBtn" type="submit">Return</button>
    </form>
</div>
{% endblock %}
