/*
@font-face {
    font-family: "retroica";
    src: url(Retroica.ttf);
  }
*/

  body {
    margin: 0;
    display: grid;
    place-items: center;
    background-color: whitesmoke;
  }

  .content {
    margin-bottom: 10px;
    width: 800px;
    height: 575px;
    background-color: white;
    border-radius: 10px;
    position: relative;
    top: 15px;
    box-shadow: 0px 20px 30px black;
  }
  
  #LoginForm,
  #RegisterForm,
  #CheckForm {
    position: absolute;
    left: 25%;
    right: 25%;
    text-align: center;
    padding-top: 10px;
  }
  
  .Form > h2 {
    font-size: 36px;
    font-weight: 600;
    margin: 0 0 7px;
  }
  
  .Form > h3 {
    color: rgba(0, 0, 0, 0.38);
    margin: 0 0 30px;
    font-weight: 500;
    font-size: 1rem;
  }
  
  .Form input {
    width: 300px;
    height: 50px;
    border: 2px solid #ebebeb;
    border-radius: 1px;
    font-family: inherit;
    font-size: 14px;
  }
  .Form p {
    margin-bottom: 10px; /* Adjust as needed */
  }

  .Form > button{
    position: relative;
    left: 5px;
    cursor: pointer;
    width: 300px;
    height: 50px;
    border-radius: 0.5rem;
    border: 0;
    background: #216ce7;
    color: #f9f9f9;
    text-align: center;
    letter-spacing: 2px;
  }
  
  .Form > a {
    color: #216ce7;
    font-size: 1rem;
    text-align: left;
    text-decoration: none;
  }


  /* Design of Elements Footer */
  .footer {
    font-family: Arial, sans-serif;
    background-color: white;
    position: relative;
    margin-top: 70px;
    bottom: 0%;
    height: 140px;
    width: 100%;
    text-align: center;
  }
  
  .footer > h5 {
    color: black;
    position: relative;
    bottom: 15px;
  }
  
  .bottomLinks {
    margin-top: 15px;
  }
  
  #footerLogo {
    width: 200px;
    height: 65px;
    margin-top: 10px;
  }
  
  select {
    width: 410px;
    height: 50px;
    border: 2px solid #ebebeb;
    border-radius: 1px;
    font-family: inherit;
    font-size: 16px;
    background-color: lightblue;
  }