{% extends 'base.html' %}

{% load static %}
{% block css %}
<link href="{% static 'app_l3/style/tickets/home_nav_bar.css' %}" type="text/css" rel="stylesheet" >
<link href="{% static 'app_l3/style/tickets/tickets_tables.css' %}" type="text/css" rel="stylesheet" >
{% endblock %}

{% block title %}IncidentManagement{% endblock %}}

{% block navbar %}
<nav>
  <div class="wrapper">
    <div class="logo"><a href="#">Incident<span style="color: black;">Management</span></a></div>
    <input type="radio" name="slider" id="menu-btn">
    <input type="radio" name="slider" id="close-btn">
    <ul class="nav-links">
      <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
      <li>
        <a href="#" class="desktop-item">{{user.username}}</a>
        <ul class="drop-menu">
          <li><a href="{% url 'logout_user' %}">Logout</a></li>  

          {% if user.is_staff %}
          <li><a href="{% url 'home' type_user='staff' %}">Staff</a></li>
          {% endif %} 

          {% if user.is_technician %}
          <li><a href="{% url 'home' type_user='technician' %}">Technician</a></li>
          {% endif %} 

          {% if user.is_self_service %}
          <li><a href="{% url 'home' type_user='self_service' %}">selfService</a></li>
          {% endif %} 

          {% if user.is_observer %}
          <li><a href="{% url 'home' type_user='observer' %}">Observer</a></li>
          {% endif %} 

        </ul>
      </li>
      
      {% if is_staff %}
      <li>
        <a href="#" class="desktop-item">Details</a>
        <input type="checkbox" id="showDrop">
        <label for="showDrop" class="mobile-item">Details</label>
        <ul class="drop-menu">
          <a href="{% url 'add_category_form' %}">Add Category</a><br>
          <a href="{% url 'add_priority_form' %}">Add Priority</a><br>
          <a href="{% url 'add_status_form' %}">Add Status</a>
        </ul>
      </li>

      <li>
        <a href="#" class="desktop-item">Users</a>
        <input type="checkbox" id="showDrop">
        <label for="showDrop" class="mobile-item">Users</label>
        <ul class="drop-menu">
          <a href="{% url 'register_user_form' %}">Register User</a>
          <a id='showUsersBtn' href="#UsersTable" >Display Users</a>
        </ul>
      </li>
      <li><a href="{% url 'add_ticket_form' %}">Add Ticket</a></li>
      {% endif %} 

      {% if is_observer or is_self_service %}
      <li><a href="{% url 'add_ticket_form' %}">Add Ticket</a></li>
      {% endif %} 
      {% if is_technician %}
      {% endif %} 

    </ul>

    <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
  </div>
</nav>
{% endblock %} 


{% block content %}
<!-- ALL -->
<body>
<br />
{% if user.is_staff %}

<div class="pos_search_title">
  <div class="title_and_export">
    <h3>All The Tickets ( {{count_all_tickets}} )</h3>
  </div>
  <div class="search_form">
      <form method="GET" action="{% url 'home' type_user=type_user %}">
        <input type="text" name="search_input" placeholder="Search name ...">
        <button class='search_button' type="submit" name="search_all">Search</button>
      </form>
  </div>
    <form method="POST" class="filter_form" >
      {% csrf_token %}
      {{ priority_filter }}
      <button type="submit" class="filter_button">Filter</button>
    </form>
</div>

<div class="scroll-container">
  <div class="scroll-content">

  <div class="firsttablecontainer">
    <table class="firsttable">
      <thead>
        <tr>
          <th>Ticket ID</th>
          <th>Ticket Name</th>
          <th>Creation Date</th>
          <th>Assigned to</th>
          <th>Creator</th>
          <th>Category</th>
          <th>Priority</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
          {% for event in all_tickets %}
          {% if event.status.status_name != 'closed'%}
            <tr>
              <td>{{event.pk}}</td>
              <td><a href="{% url 'console_ticket' ticket_id=event.id %}">{{event.title}}</a></td>
              <td> {{event.ticket_creation_date}}</td>
              {% if event.assigned_to is not None %}
              <td> {{event.assigned_to}}</td>
              {% else %}
              <td>Not Assigned</td>
              {% endif %}
              <td>{{event.assigned_by}}</td>
              <td>{{event.category}}</td>
              <td>{{event.priority}}</td>
              <td>{{event.status}}</td>
            </tr>
          {% endif %}
          {% endfor %}
      </tbody>
    </table>
  </div>
  </div>
</div>

{% endif %}

<!-- Created By Me -->
<br />
{% if not is_technician %}

<div class="pos_search_title">
  <div class="title_and_export">
    <h3> Created By Me ( {{count_my_tickets}} ) </h3>
    {% if user.is_staff %}
    <a href="{% url 'export_to_csv' filename='created_by_me.csv' %}" class='export_button'><button type="button">Export Csv</button></a>
    {% endif %}
  </div>
  <div class="search_form">
      <form method="GET" action="{% url 'home' type_user=type_user %}">
        <input type="text" name="search_input" placeholder="Search name ...">
        <button class='search_button' type="submit" name="search_by_me">Search</button>
      </form>
  </div>
</div>

<div class="scroll-container">
  <div class="scroll-content">

  <div class="firsttablecontainer">
    <table class="firsttable">
      <thead>
        <tr>
          <th>Ticket ID</th>
          <th>Ticket Name</th>
          <th>Creation Date</th>
          <th>Assigned to</th>
          <th>Creator</th>
          <th>Category</th>
          <th>Priority</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        
        {% for event in tickets_created_by_me %}
        {% if event.status.status_name != 'closed' %}
        <tr>
          <td>{{event.pk}}</td>
          <td><a href="{% url 'console_ticket' ticket_id=event.id %}">{{event.title}}</a></td>
          <td> {{event.ticket_creation_date}}</td>
          {% if event.assigned_to is not None %}
          <td> {{event.assigned_to}}</td>
          {% else %}
          <td>Not Assigned</td>
          {% endif %}
          <td>{{event.assigned_by}}</td>
          <td>{{event.category}}</td>
          <td>{{event.priority}}</td>
          <td>{{event.status}}</td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
  </div>
</div>

{% endif %}

<!-- Assigned To ME  -->
<br />

<div class="pos_search_title">
  <div class="title_and_export">
    <h3>Assigned To Me ( {{count_to_me_tickets}} )</h3>
  </div>
  <div class="search_form">
      <form method="GET" action="{% url 'home' type_user=type_user %}">
        <input type="text" name="search_input" placeholder="Search name ...">
        <button class='search_button' type="submit" name="search_to_me">Search</button>
      </form>
</div>

</div>
<div class="scroll-container">
  <div class="scroll-content">

  <div class="firsttablecontainer">
    <table class="firsttable">
      <thead>
        <tr>
          <th>Ticket ID</th>
          <th>Ticket Name</th>
          <th>Creation Date</th>
          <th>Category</th>
          <th>Priority</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        
        {% for event in tickets_assigned_to_me %}
        {% if event.status.status_name != 'closed' %}
        <tr>
          <td>{{event.pk}}</td>
          <td><a href="{% url 'console_ticket' ticket_id=event.id  %}">{{event.title}}</a></td>
          <td> {{event.ticket_creation_date}}</td>
          <td>{{event.category}}</td>
          <td>{{event.priority}}</td>
          <td>{{event.status}}</td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
  </div>
</div>

<!-- CLOSED -->
<br />

<div class="pos_search_title">
  <div class="title_and_export">
    <h3>Closed ( Resolved ) Tickets ( {{count_resolved_tickets}} )</h3>
  </div>
  <div class="search_form">
      <form method="GET" action="{% url 'home' type_user=type_user %}">
        <input type="text" name="search_input" placeholder="Search name ...">
        <button class='search_button' type="submit" name="search_closed">Search</button>
      </form>
  </div>
</div>

<div class="scroll-container">
  <div class="scroll-content">

  <div class="firsttablecontainer">
    <table class="firsttable">
      <thead>
        <tr>
          <th>Ticket ID</th>
          <th>Ticket Name</th>
          <th>Creation Date</th>
          <th>Category</th>
          <th>Priority</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        
        {% for event in tickets_solution_confirmed %}
        {% if event.status.status_name == 'closed' %}
        <tr>
          <td>{{event.pk}}</td>
          <td><a href="{% url 'console_ticket' ticket_id=event.id  %}">{{event.title}}</a></td>
          <td>
          {% for solution in ticket_solutions %}
            {%if solution.targeted_ticket == event%}
              {{solution.ticket_solution_date}}
            {% endif %}
          {% endfor %}
          </td>
          <td>{{event.category}}</td>
          <td>{{event.priority}}</td>
          <td>{{event.status}}</td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
  </div>
</div>

<!-- Users Section -->
<br />

<div id="UsersTable" >

  <div class="pos_search_title">
    <div class="title_and_export">
      <h3>All Users ( {{count_all_users}} )</h3>
      <button type="button" class='cancel_button' id="cancelUsersBtn" >Cancel</button>
    </div>
  
    <div class="search_form">
        <form method="GET" action="">
          <input type="text" name="search_input_users" placeholder="Search LastName ...">
          <button class='search_button' id='search_button' type="submit" name="search_users_all">Search</button>
        </form>
    </div>
  </div>
  
  <div class="scroll-container">
      <div class="scroll-content">
    
      <div class="firsttablecontainer">
        <table class="firsttable">
          <thead>
            <tr>
              <th>ID</th>
              <th>Firstname</th>
              <th>Lastname</th>
              <th>Username</th>
              <th>Number</th>
              <th>Email</th>
              <th>Class</th>
            </tr>
          </thead>
          <tbody>
              {% for user in users_display %}
                <tr>
                  <td>{{ user.id }}</td>
                  <td><a href="{% url 'display_user' user_id=user.id %}">{{ user.first_name}}</a></td>
                  <td>{{ user.last_name}}</td>
                  <td>{{ user.username}}</td>
                  <td>{{user.number}}</td>
                  <td>{{user.email}}</td>
                  <td>{% if user.is_staff %} STAFF {%endif%}
                      {% if user.is_observer %} OBSERVER {%endif%}
                      {% if user.is_self_service %}SELF SERVICE{%endif%}
                      {% if user.is_technician %}TECHNICIAN{%endif%}</td>
                </tr>
              {% endfor %}
          </tbody>
        </table>
      </div>
      </div>
  </div>

</div>

</body>
{% endblock %}

{% block script %}
<script>
  var search_button = document.getElementById('search_button');

  search_button.addEventListener('click', function(event) {
      event.preventDefault(); // Prevent the default behavior
  });

  var UsersTable = document.getElementById('UsersTable');
  UsersTable.style.display = 'none'
  document.addEventListener('DOMContentLoaded', function() {
    var showUsersBtn = document.getElementById('showUsersBtn');
    var cancelUsersBtn = document.getElementById('cancelUsersBtn');

    showUsersBtn.addEventListener('click', function() {
        if (UsersTable.style.display === 'none' || UsersTable.style.display === '') {
          showUsersBtn.scrollIntoView({ behavior: 'smooth' });
          UsersTable.style.display = 'block'; // Show the solution form
          UsersTable.style.height = UsersTable.scrollHeight + 'px';
        }
    });
    cancelUsersBtn.addEventListener('click', function() {
        if (UsersTable.style.display === 'block') {
          UsersTable.style.height = 0;
          setTimeout(function() {
            UsersTable.style.display = 'none';}, 200); // Adjust timing to match the transition duration
        }
    });
  });
</script>
{% endblock %}
