{% extends 'base.html' %}

{% load static %}
{% block css %}
<link href="{% static 'app_l3/home_nav_bar.css' %}" type="text/css" rel="stylesheet" >
<link href="{% static 'app_l3/tickets_tables.css' %}" type="text/css" rel="stylesheet" >
{% endblock %}

{% block title %}ReTech{% endblock %}}

{% block navbar %}

  <nav>
  <div class="wrapper">
    <div class="logo"><a href="#">Incident<span style="color: black;">Management</span></a></div>
    <input type="radio" name="slider" id="menu-btn">
    <input type="radio" name="slider" id="close-btn">
    <ul class="nav-links">
      <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
      <li>
        <a href="#" class="desktop-item">{{user.username}}</a>
        <ul class="drop-menu">
          <li><a href="{% url 'logout_user' %}">Logout</a></li>  

          {% if user.is_staff %}
          <li><a href="{% url 'home' type_user='staff' %}">Staff</a></li>
          {% endif %} 

          {% if user.is_technician %}
          <li><a href="{% url 'home' type_user='technician' %}">Technician</a></li>
          {% endif %} 

          {% if user.is_self_service %}
          <li><a href="{% url 'home' type_user='self_service' %}">selfService</a></li>
          {% endif %} 

          {% if user.is_observer %}
          <li><a href="{% url 'home' type_user='observer' %}">Observer</a></li>
          {% endif %} 

        </ul>
      </li>
      
      {% if is_staff %}
      <li>
        <a href="#" class="desktop-item">Details</a>
        <input type="checkbox" id="showDrop">
        <label for="showDrop" class="mobile-item">Details</label>
        <ul class="drop-menu">
          <a href="{% url 'add_category_form' %}">Add Category</a><br>
          <a href="{% url 'add_priority_form' %}">Add Priority</a><br>
          <a href="{% url 'add_status_form' %}">Add Status</a>
        </ul>
      </li>

      <li>
        <a href="#" class="desktop-item">Users</a>
        <input type="checkbox" id="showDrop">
        <label for="showDrop" class="mobile-item">Users</label>
        <ul class="drop-menu">
          <a href="{% url 'register_user_form' %}">Register User</a>
          <a href="{% url 'display_users' %}">Display Users</a>
        </ul>
      </li>
      <li><a href="{% url 'add_ticket_form' %}">Add Ticket</a></li>
      {% endif %} 

      {% if is_observer or is_self_service %}
      <li><a href="{% url 'add_ticket_form' %}">Add Ticket</a></li>
      {% endif %} 
      {% if is_technician %}
      {% endif %} 

    </ul>

    <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
  </div>
</nav>

{% endblock %} 


{% block content %}
<!-- ALL -->
<br /><br /><br /><br />
{% if user.is_staff %}
<div class="scroll-container">
  <div class="scroll-content">

    <div class="pos_search_title">
      <div class="title_and_export">
        <h3>All The Tickets ( {{count_all_tickets}} )</h3>
      </div>

      <div class="search_form">
          <form method="GET" action="{% url 'home' type_user=type_user %}">
            <input type="text" name="search_input" placeholder="Search name ...">
            <button class='search_button' type="submit" name="search_all">Search</button>
          </form>
      </div>
        <form method="POST" class="filter_form" >
          {% csrf_token %}
          {{ priority_filter }}
          <button type="submit" class="filter_button">Filter</button>
        </form>
    </div>

  <div class="firsttablecontainer">
    <table class="firsttable">
      <thead>
        <tr>
          <th>Ticket ID</th>
          <th>Ticket Name</th>
          <th>Creation Date</th>
          <th>Assigned to</th>
          <th>Creator</th>
          <th>Category</th>
          <th>Priority</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
          {% for event in all_tickets %}
          {% if event.status.status_name != 'closed'%}
            <tr>
              <td>{{event.pk}}</td>
              <td><a href="{% url 'console_ticket' ticket_title=event.title %}">{{event.title}}</a></td>
              <td> {{event.ticket_creation_date}}</td>
              {% if event.assigned_to is not None %}
              <td> {{event.assigned_to}}</td>
              {% else %}
              <td>Not Assigned</td>
              {% endif %}
              <td>{{event.assigned_by}}</td>
              <td>{{event.category}}</td>
              <td>{{event.priority}}</td>
              <td>{{event.status}}</td>
            </tr>
          {% endif %}
          {% endfor %}
      </tbody>
    </table>
  </div>
  </div>
</div>

{% endif %}

<!-- Created By Me -->
<br />
{% if not is_technician %}
<body>
  
<div class="scroll-container">
  <div class="scroll-content">

    <div class="pos_search_title">
      <div class="title_and_export">
        <h3> Created By Me ( {{count_my_tickets}} ) </h3>
        {% if user.is_staff %}
        <a href="{% url 'export_to_csv' filename='created_by_me.csv' %}" class='export_button'><button type="button">Export Csv</button></a>
        {% endif %}
      </div>
      <div class="search_form">
          <form method="GET" action="{% url 'home' type_user=type_user %}">
            <input type="text" name="search_input" placeholder="Search name ...">
            <button class='search_button' type="submit" name="search_by_me">Search</button>
          </form>
      </div>
    </div>

  <div class="firsttablecontainer">
    <table class="firsttable">
      <thead>
        <tr>
          <th>Ticket ID</th>
          <th>Ticket Name</th>
          <th>Creation Date</th>
          <th>Assigned to</th>
          <th>Creator</th>
          <th>Category</th>
          <th>Priority</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        
        {% for event in tickets_created_by_me %}
        {% if event.status.status_name != 'closed' %}
        <tr>
          <td>{{event.pk}}</td>
          <td><a href="{% url 'console_ticket' ticket_title=event.title %}">{{event.title}}</a></td>
          <td> {{event.ticket_creation_date}}</td>
          {% if event.assigned_to is not None %}
          <td> {{event.assigned_to}}</td>
          {% else %}
          <td>Not Assigned</td>
          {% endif %}
          <td>{{event.assigned_by}}</td>
          <td>{{event.category}}</td>
          <td>{{event.priority}}</td>
          <td>{{event.status}}</td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
  </div>
</div>

{% endif %}

<!-- Assigned To ME  -->
<br />
<div class="scroll-container">
  <div class="scroll-content">

    <div class="pos_search_title">
      <div class="title_and_export">
        <h3>Assigned To Me ( {{count_to_me_tickets}} )</h3>
      </div>

      <div class="search_form">
          <form method="GET" action="{% url 'home' type_user=type_user %}">
            <input type="text" name="search_input" placeholder="Search name ...">
            <button class='search_button' type="submit" name="search_to_me">Search</button>
          </form>
      </div>
  
    </div>

  <div class="firsttablecontainer">
    <table class="firsttable">
      <thead>
        <tr>
          <th>Ticket ID</th>
          <th>Ticket Name</th>
          <th>Creation Date</th>
          <th>Category</th>
          <th>Priority</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        
        {% for event in tickets_assigned_to_me %}
        {% if event.status.status_name != 'closed' %}
        <tr>
          <td>{{event.pk}}</td>
          <td><a href="{% url 'console_ticket' ticket_title=event.title %}">{{event.title}}</a></td>
          <td> {{event.ticket_creation_date}}</td>
          <td>{{event.category}}</td>
          <td>{{event.priority}}</td>
          <td>{{event.status}}</td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
  </div>
</div>

<!-- CLOSED -->
<br />
<div class="scroll-container">
  <div class="scroll-content">

    <div class="pos_search_title">
      <div class="title_and_export">
        <h3>Closed ( Resolved ) Tickets ( {{count_resolved_tickets}} ) ) </h3>
      </div>

      <div class="search_form">
          <form method="GET" action="{% url 'home' type_user=type_user %}">
            <input type="text" name="search_input" placeholder="Search name ...">
            <button class='search_button' type="submit" name="search_closed">Search</button>
          </form>
      </div>
    </div>

  <div class="firsttablecontainer">
    <table class="firsttable">
      <thead>
        <tr>
          <th>Ticket ID</th>
          <th>Ticket Name</th>
          <th>Creation Date</th>
          <th>Category</th>
          <th>Priority</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        
        {% for event in tickets_solution_confirmed %}
        {% if event.status.status_name == 'closed' %}
        <tr>
          <td>{{event.pk}}</td>
          <td><a href="{% url 'console_ticket' ticket_title=event.title %}">{{event.title}}</a></td>
          <td>
          {% for solution in ticket_solutions %}
            {%if solution.targeted_ticket == event%}
              {{solution.ticket_solution_date}}
            {% endif %}
          {% endfor %}
          </td>
          <td>{{event.category}}</td>
          <td>{{event.priority}}</td>
          <td>{{event.status}}</td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
  </div>
</div>

</body>
{% endblock %}

