{% extends 'base.html' %}

{% load static %}

{% block css%}
<link href="{% static 'app_l3/bootstrap.min.css' %}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block title %}LoginForm{% endblock %}

{% block content %}
<div class="content">
    <form action="{% url 'login_form' %}" class="" id="" method="post">
        {% csrf_token %}
        <h2>Login</h2>
        <h3>Enter your credentials</h3>
        {% if messages %}
            {% for message in messages%}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">{{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        {% endif %}
        <input type="text" name="username" placeholder="Username" value="" required/>
        <input type="password" name="password" placeholder="Password" value="" required/>
        <br/><br/>
        <a href="{% url 'register_form' %}">Register User</a>
        <br/><br/>
        <button type="submit" id="" name="login_button">Login</button>
    </form>
</div>
{% endblock %}

