{% extends 'base.html' %}

{% load static %}

{% block css%}
<!--<link href="{% static 'app_l3/display_style.css' %}" rel="stylesheet" type="text/css">-->
<link href="{% static 'app_l3/tickets_tables.css' %}" type="text/css" rel="stylesheet" >
{% endblock %}

{% block title %}DisplayUsers{% endblock %}

{% block content %}

<div class="scroll-container">
    <div class="scroll-content">
  
      <div class="pos_search_title">
        <div class="title_and_export">
          <h3>All Users ( {{count_all_users}} )</h3>
        </div>
  
        <div class="search_form">
            <form method="GET" action="">
              <input type="text" name="search_input" placeholder="Search LastName ...">
              <button class='search_button' type="submit" name="search_all">Search</button>
            </form>
        </div>
          <form method="POST" class="filter_form" >
            {% csrf_token %}
            {{ priority_filter }}
            <button type="submit" class="filter_button">Filter</button>
          </form>
      </div>
  
    <div class="firsttablecontainer">
      <table class="firsttable">
        <thead>
          <tr>
            <th>ID</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Username</th>
            <th>Number</th>
            <th>Email</th>
            <th>Class</th>
          </tr>
        </thead>
        <tbody>
            {% for user in users_display %}
              <tr>
                <td>{{ user.id }}</td>
                <td><a href="{% url 'display_user' user_id=user.id %}">{{ user.first_name}}</a></td>
                <td>{{ user.last_name}}</td>
                <td>{{ user.username}}</td>
                <td>{{user.number}}</td>
                <td>{{user.email}}</td>
                <td>{% if user.is_staff %} STAFF {%endif%}
                    {% if user.is_observer %} OBSERVER {%endif%}
                    {% if user.is_self_service %}SELF SERVICE{%endif%}
                    {% if user.is_technician %}TECHNICIAN{%endif%}</td>
              </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
    </div>
</div>

{% endblock %}
