{% extends 'base.html' %}

{% load static %}

{% block css%}
<link href="{% static 'app_l3/style/users/display_user_style.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %}Display{% endblock %}

{% block content %}

<body>
    <div class="mainscreen">
        <div class="card">
            <div class="leftside"></div>
            <div class="rightside">
                <h1>User Details</h1>
                        <h2>(+)Firstname / Lastname </h2>
                        <p>{{ user.first_name }} / {{ user.last_name }}</p>

                        <h2>(+) ID / Username</h2>
                        <p>{{ user.id }} / {{ user.username }}</p>

                        <h2>(+)Number / Email</h2>
                        <p>{{ user.number }} / {{ user.email }}</p>

                        <h2>(+)Class : {% if user.is_staff %} STAFF {%endif%}
                            {% if user.is_observer %} OBSERVER {%endif%}
                            {% if user.is_self_service %}SELF SERVICE{%endif%}
                            {% if user.is_technician %}TECHNICIAN{%endif%}
                        </h2>
                        <h2>(+)Activition : {% if user.is_active %}Active{%else%}Not Active{%endif%}</h2>

                <div class="set">
                    <button id="returnBtn" type="submit">Return</button>
                    <a href="{% url 'update_user_form' user_id=user.id %}" style="font-size: 13px;" ><button type="submit">Update User</button></a>

                    <form method="post" action="{% url 'delete_user' user_id=user.id %}">
                        {% csrf_token %}
                        <button type="submit" id="delete_btn" style="font-size: 13px" onclick="return confirm('Are you sure you want to delete this User? Note: it will only deactivate his account not fully delete from the database')">Delete User</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock %}
